TEST_PAGING/Service References/VDCBackOfficeService/VDCBackOfficeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VDC.Dataservice.DataContact.Dto.Partial" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VDC.Dataservice.DataContact.Dto.Partial" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMST_EMAIL_LIST_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MST_EMAIL_LIST_DTO" nillable="true" type="tns:MST_EMAIL_LIST_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMST_EMAIL_LIST_DTO" nillable="true" type="tns:ArrayOfMST_EMAIL_LIST_DTO" />
  <xs:complexType name="MST_EMAIL_LIST_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLIENT_PORT" type="xs:int" />
      <xs:element minOccurs="0" name="COUNT_DAYS" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL_BODY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_ID" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL_PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_SUBJECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_USER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_ENABLE_SSL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIMEOUT" type="xs:int" />
      <xs:element minOccurs="0" name="TIME_TO_SEND" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MST_EMAIL_LIST_DTO" nillable="true" type="tns:MST_EMAIL_LIST_DTO" />
</xs:schema>